body {
  background-color: gray;
  text-align: right;
  padding: 10px;
  border: 5px dashed #660000;
}
.a:link{
  Color: #660000
}
.press:hover{
  Color: #FFFFFF
}
.mainimage{
  float: left;
   padding: 0.15em 0.5em ;
}
.secondimage{
  float: right;
   padding: 0.15em 0.5em;
}
.thirdimage{
float: right;
 padding: 0.15em 0.5em;
}
.header{
    position: fixed;
    background-color: #660000;
    font-family:'nunito-sans' ;
    font-size: 12pt;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0.25em;
}

.menu-item {
    margin: auto;
    padding: 0.25em;
    min-width: 75px;
    font-size: 10pt;
    color: #fff;
    background-color: #660000;
    line-height: 2.1em;
}

.menu-item:hover {
    background-color: white;
    color: #333;
}
.display-inline-block {
    display: inline-block;
}
